<!DOCTYPE html>
<html>
<head>
  <title><%= @title %></title>
  <script src="/assets/js/jquery-3.3.1.js"></script>
  <script src="/asstes/js/bootstrap.js"></script>
  <script src="/assets/js/app.js"></script>

  <link rel="stylesheet" href="/assets/css/bootstrap.css">
  <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>

   <%= erb(:'partials/navigation', :layout => false) %>

   <!-- our template content will be injected here -->
   <%= yield %>

</body>
</html>
